.page-break {
  page-break-after: always;
  break-after: page;
}

body {
  /* background-image: url("./background.png"); */
  /* or .png, depending on your image format */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}